@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">GUSTAVO CENEM FERNANDES e GUSTAVO DIAS RUFFO</h1>
    <p>Projeto para as AC 1, 2 e 3 + Prova da faculade IMPACTA.</p>
    <p>
        Curso: Análise e Desenvolvimento de Sistemas <br />
        Semestre: 5° semestre <br />
        Matéria: Software Product: Analysis, Specification, Project & Implementation <br />
        Professor: Antonio de Oliveira Dias <br />
        Aluno: Gustavo Cenem Fernandes e Gustavo Dias Ruffo<br />
        RA: 2300396 e 2300708<br />
        E-mail: gustavo.cenem@aluno.faculdadeimpacta.com.br <br />
                gustavo.ruffo@aluno.faculdadeimpacta.com.br <br />
        Data início: 06/03/2025 <br />
    </p>
</div>
